!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    
        <h1>Welcome {{user.first_name}}!!!</h1>
            <a href="/new/recipe">Add New Recipe</a>
            <a href="/logout">Logout</a>
                <tr>
                    <th>Name</th>
                    <th>Under 30 Minutes?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{recipe.name}}</td>
                        {% if recipe.under30 == 1 %}
                        <td>Yes</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}
                        <td>
                            <a href="/recipe/{{recipe.id}}">View Instructions</a>
                            {% if recipe.user_id == session.user_id %}
                            <a href="/edit/recipe/{{recipe.id}}">Edit</a>
                            <a href="/destroy/recipe/{{recipe.id}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

</body>
</html>