<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
        <h1>Welcome {{user.first_name}}</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>

    <form action="/create/recipe" method="post">
        <h2>Add a New Recipe</h2>
                <label for="name">Name:</label>
                <input type="text" name="name">
                <label for="description">Description:</label>
                <textarea name="description"></textarea>
                <label for="instructions">Instructions:</label>
                <textarea name="instructions"></textarea>
                <label for="date_made">Date Made:</label>
                <input type="date" name="date_made">
                <label for="under30">Under 30 Minutes?:</label>
                <input type="radio" name="under30" value="0">
                <label for="0" class="text-warning">No</label>
                <input type="radio" name="under30" value="1">
                <label for="1" class="text-warning">Yes</label>
    </form>
</body>
</html>